<!DOCTYPE html>
<html>
  <head>
    <title>Britton Baumann</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <nav class="main-nav">
        <ul class="main-nav-pages">
          <li><a href="/welcome/index">Home</a></li>
          <li><a href="/portfolio/portfolio">Portfolio</a></li>
          <li><a href="/welcome/about">About</a></li>
          <li><a href="/welcome/contact">Contact</a></li>
          <li><a href="/welcome/blog">Blog</a></li>
        </ul>
        <ul class="main-nav-social">
          <li><a href="#">GitHub</a></li>
          <li><a href="#">LinkedIn</a></li>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
        </ul>
      </nav>
      <%= yield %>
    </div>
      <footer id="main-footer">
        <p>Made by Britton Baumann</p>
      </footer>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
